<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="./style/css/main.min.css">
</head>
<body>
  <div id="root">
    <ul class="flex personage-list">
      <li class="flex-x-center personage-item-group">
        <img src="./imgs/1.jpg" alt="">
        <div>
          <span></span>
          <span></span>
        </div>
      </li>
      <li class="flex-x-center personage-item-group">
        <img src="./imgs/3.jpg" alt="">
      </li>
      <li class="flex-x-center personage-item-group">
        <img src="./imgs/4.jpg" alt="">
      </li>
    </ul>
  </div>
</body>
</html>