html {
  width: 100%;
  height: 100%;
  font-size: 62.5%;
}

html body {
  width: 100%;
  height: 100%;
  color: #3a3a3a;
  font-size: 1.4rem;
  line-height: 1;
  background-color: #f9f6f1;
  user-select: none;
}

html body, html div, html span, html applet, html object, html iframe, html h1, html h2, html h3, html h4, html h5, html h6, html p, html blockquote, html pre, html a, html abbr, html acronym, html address, html big, html cite, html code, html del, html dfn, html em, html img, html ins, html kbd, html q, html s, html samp, html small, html strike, html strong, html sub, html sup, html tt, html var, html b, html u, html i, html center, html dl, html dt, html dd, html ol, html ul, html li, html fieldset, html form, html label, html legend, html table, html caption, html tbody, html tfoot, html thead, html tr, html th, html td, html article, html aside, html canvas, html details, html embed, html figure, html figcaption, html footer, html header, html hgroup, html menu, html nav, html output, html ruby, html section, html summary, html time, html mark, html audio, html video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

html article, html aside, html details, html figcaption, html figure, html footer, html header, html hgroup, html main, html menu, html nav, html section {
  box-sizing: border-box;
  display: block;
}

html ol, html ul {
  list-style: none;
}

html blockquote, html q {
  quotes: none;
}

html blockquote:before, html blockquote:after, html q::before, html q::after {
  content: '';
  content: none;
}

html table {
  border-collapse: collapse;
  border-spacing: 0;
}

.flex {
  display: flex;
}

.flex-x-center {
  display: flex;
  justify-content: center;
}

.flex-y-center {
  display: flex;
  align-items: center;
}
